html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Opcional: Para tu componente principal (app-root) */
app-root {
  display: block;
  height: 100%;
}